In [13]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [3]:
#Load Dataset
df = pd.read_csv("iris.csv")

In [4]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [8]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [5]:
#Split into training data and test data
#Create training and testing vars,

x = df[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]
y = df['species']

In [6]:
x.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [7]:
y.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: species, dtype: object

In [9]:
X_train, X_test, Y_train, Y_test = train_test_split(x,y, test_size = 20, random_state = 1)

In [ ]:
model = SVC(gamma = 'auto')
model.fit(X_train, Y_train)

In [11]:
predictions = model.predict(X_test)

In [14]:
print(accuracy_score(Y_test, predictions))

1.0

In [15]:
pd.to_pickle(model, 'iris_model.pickle')

In [16]:
model = pd.read_pickle('iris_model.pickle')

In [17]:
sepal_length = float(input("Enter sepal_length: "))
sepal_width = float(input("Enter sepal_width: "))
petal_length = float(input("Enter petal_length: "))
petal_width = float(input("Enter petal_width: "))

Enter sepal_length: 2
Enter sepal_width: 2
Enter petal_length: 1
Enter petal_width: 2

In [18]:
result = model.predict([[sepal_length, sepal_width, petal_length, petal_width]])
print(result)

['virginica']